{
  "branches": [
    "main",
    {
      "name": "release/*",
      {"name": "next", "prerelease": true},
      {"name": "alpha/*", "prerelease": "alpha"},
      {"name": "beta/*", "prerelease": "beta"}
    }
  ],
  "repositoryUrl": "https://github.com/gchatzopoulosCC/battlesnake.git",
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "CHANGELOG.md",
          "changelogTitle": "# Changelog"
        }
      ],
      "@semantic-release/git",
      "@semantic-release/github"
    ]
}
